* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

.modal-container {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* overflow: auto; */
  transition: all 0.1s ease;
}

.modal-wrapper {
  background: #252525;
  position: absolute;
  width: 60%;
  /* padding-top: 1; */
  z-index: 5;
  border-radius: 2%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  background: #2c2c2c;
  color: #e9e9e9;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}

.modal-header span {
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content {
  padding: 1.5rem 1rem;
  width: 100%;
  height: 90%;
  bottom: 0;
}

.modal-body {
  margin-bottom: 1rem;
  height: 80%;
}

.modal-body p {
  font-size: 1rem;
  background: #eee;
  color: #333;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
}

.modal-footer button {
  display: block;
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5rem 1.8rem;
  background: var(--color-primary);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2%;
}

.back-drop {
  background: rgba(168, 57, 57, 0.692);
  height: 100%;
  position: absolute;
  transition: all 1.3s;
  width: 100%;
}

@media screen and (max-width: 1170px) {
  .modal-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
}
